@model Vidly.ViewModels.MovieViewModel

@{
    ViewBag.Title = "Movies";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
@if (Model.Movies.Count == 0)
{
    <h4>There are currently no movies. </h4>
}

else
{
    <table class="table table-bordered table-hover">
        <tr>
            <th>Movie</th>
        </tr>
        @{
            foreach (var movie in Model.Movies)
            {
                <tr><td>@movie.Name</td></tr>
            }
        }
    </table>
}